* {
    box-sizing: border-box; /*Ajuste de pantalla y no tener que hacer scroll horizontal*/
    padding: 0; /*Para eliminar espacio en blanco en el navegador*/
    margin: 0;
}
header{
    background-color:#0F747A;
}
h1 {
    color: #0f1d1d;
}

h2 {
    text-align: center;
    background-color: #7A411A;
    padding: 5px;
}

figure {
    /*border: 2px solid black;*/
    margin: 0px;
    padding: 2px;
    background-color:#90C72C;
}

img {
    /*border: 1px solid black;*/
    width: 46%;
    padding: 5px;
    display: inline-block;
    margin: 5px 15px 5px;
    object-position: center;
}

p{
    text-align: center;
    font-size: 18px;
    width: calc(45% - 10px);
    padding-left: 5px;
    display: inline-block;
    margin: 0px 15px 10px;
}
