/*Por nombre de etiqueta
h1 {
    color: purple;
    font-size: 35px;
}

.introduccion{
    color: blueviolet;
    font-size: 20px;
}

#conclusion{
    color: #db0930;
    font-size: 25px;
}*/

.part-nav {
    margin-top: 10px; /* Margen superior */
    list-style: none; /* Quitar el punto o número de las listas*/
    padding-left: 0; /* Padding es el espacio interno de un cuadro */
    background-color: #13a4a4;
}

.part-nav__item {
    display: inline-block; /*Para que se vean horizontal y no vertical las listas*/
}

.part-nav__item a {
    color: snow;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none; /* Para quitar el subrayado */
}

.part-nav__item a:hover { /* Pseudo clase */
    color: blueviolet;
}

.part-nav__item a::before { /* Pseudo elementos */
    content: "| ";
}
.part-nav__item a::after {
    content: " |";
}