* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    position: sticky;
    top: 0.00000000000001%;
    max-height: 15vh;
}

.logo {
    display: inline-block;
    width: 15%;
    min-width: 10%;
    padding-left: 10px;
    color: whitesmoke;
}

.navBar {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.navLinks {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    color: snow;
}

main {
    border: solid 5px blue;
    height: 70vh;
}

.recuadroIzquierdo {
    border: solid 2px green;
    display: inline-block;
    position: relative;
    left: 0.1%;
    width: 30%;
    min-width: 20%;
    max-width: 33%;
}

.contenido {
    border: solid 2px palevioletred;
    display: inline-block;
    position: absolute;
    width: 70%;
    max-width: 79%;
}

footer {
    border: solid 5px orangered;
}