h1{
    font-family: serif;
}
#page-title {
    font-family: monospace; /*Este ID borra el font-family declarado en el h1 y en la clase*/
}
.title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}