*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: serif;
    color: blueviolet;
    margin-bottom: 10px;
}

.title{
    font-size: 20px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
}
.nav li {
    display: inline-block;
}
.nav a {
    color: white;
    background-color: #db0930;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav .contacto {
    background-color: mediumaquamarine;
}