h2 + p { /*Toda etiqueta p después de un H2, aplicar este estilo (Hermano Adyacente)*/
    font-size: 18px;
    color: blue;
}

h4 ~ p {
    font-size: 15px;
    color: mediumpurple;
}

div > h5 {
    color: goldenrod;
}

div article {
    color:hotpink;
}